* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    line-height: 1.35;
}
.headln {
    width: 100%;
}
h1 {
    font-size: 1.75em;
    text-align: center;
    margin: 30px 0px 40px;
}
.row {
    width: 100%;
}
.col-1, .col-2, .col-3 {
    float: left;
    position: relative;
}
.col-1 h2 {
    background-color: #57d6b7;
}
.col-2 h2 {
    background-color: #d7ec53;
}
.col-3 h2 {
    background-color: #fd74d5;
}
h2 {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30%;
    height: 18%;
    border: 1px black solid;
    font-size: 1.25em;
    padding: 5px;
    text-align: center;
    margin: 0px;
}
p {
    height: 170px;
    padding: 40px 15px 5px;
    overflow: hidden;
    margin: 15px;
    background-color: #d5d2e0;
    border: 1px black solid;
}

@media (min-width: 992px) {
    .col-1, .col-2, .col-3 {
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-1, .col-2 {
        width: 50%;
    }
    .col-3 {
        width: 100%;
    }

}
@media (max-width: 767px) {
    .col-1, .col-2, .col-3 {
        width: 100%;
    }
}